@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales explícitos para el modo claro y oscuro */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Cuando NO tiene la clase dark (Modo Claro) */
html {
  background-color: #f3f4f6; /* Gris claro (bg-gray-100) */
  color: #111827;            /* Negro/Gris oscuro (text-gray-900) */
}

/* Cuando SE ACTIVA la clase dark (Modo Oscuro) */
html.dark {
  background-color: #0f172a; /* Azul pizarra oscuro (bg-slate-900) */
  color: #f8fafc;            /* Blanco/Gris claro (text-slate-50) */
}